/* general */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;  /*deslizar*/
}

/*encabezado*/

.encabezado{
  background: #003D5B;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.encabezado header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.encabezado header .logo a{
  font-family: 'Inconsolata', monospace;
  font-size: 36px;
  color: #EDAE49;
 text-decoration: none; 
}

.encabezado header ul{
  display: flex;
  list-style: none;
}

.encabezado header nav ul li a{
  text-align: none;
  color: #e6cea9;
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
}

.encabezado header nav ul li a:hover{
  color: #D1495B;
}

.nav-responsive{
  background-color: #06201b;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;  
}

/*inicio*/


.inicio{
  background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
  url(public/flore.jpg);  /*Poner imagen*/
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .contenido-banner{
  padding: 20px;
  background-color: #30638E;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .contenido-banner img{
  margin-top: 40px;
  border: 10px solid #D1495B;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenido-banner h1{
  margin-top: 40px;
  font-size: 42px;
  font-family: 'Inconsolata', monospace;
}

.inicio .contenido-banner h2{
  font-size: 15px;
  font-weight: normal;
}

/*si se agrega otro subtitulo es lo mismo que este ^ */


/*sobre mi */

.sobremi{
  background-color: #578faf;
  color: #fff;
  padding: 50px 20px;
}


.sobremi .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}


.sobremi h2{
  font-size: 48px;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  padding: 20px 0;

}

.sobremi .contenido-seccion p{
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
  color: #1CB698;
  font-weight: bold;
}

.sobremi .fila{
  display: flex;
}

.sobremi .fila .col{
  width: 50%;
}

.sobremi .fila .col h3{
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 25px;
}




/*mis intereses */

.misintereses{
  background-color: #182933;
  color: #fff;
  padding: 50px 20px;
}

.misintereses .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}

.misintereses .fila{
  display: flex;
}

.misintereses .fila .col{
  width: 50%;
}

.misintereses .fila .col h3{
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 25px;
}

.misintereses .fila .col .contenedor-intereses{
  display: flex;
  flex-wrap: wrap;
}
.misintereses .fila .col .contenedor-intereses .interes{
  width: 100px;
  height: 100px;
  background-color: #8a9fb1;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.misintereses .fila .col .contenedor-intereses .interes:hover{
  background-color: #EDAE49;
}
.misintereses .fila .col .contenedor-intereses .interes i{
  font-size: 30px;
  margin-bottom: 10px;
}
.misintereses button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.misintereses button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}
.misintereses button:hover .overlay{
  width: 100%;
}

.contacto{
  background-image: url(img/contact_bg.png);
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}

.contacto h2{
  font-size: 48px;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  padding: 20px 0;
}

.contacto .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}

footer{
  background-color: #252A2E;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}